<<<<<<< Updated upstream
body {
    padding-top: 50px;
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

h2 {
	text-align: center;
}

.starter-template {
    padding: 40px 15px;
} 

=======
body {
    padding-top: 50px;
}

h1 {
	text-align: center;
}

.starter-template {
    padding: 40px 15px;
} 

>>>>>>> Stashed changes
